
.top {width: 100%; background-color: #444444; padding: 0px;}
.left {border-radius: 50%; border: 40px solid #444444; float: left;}
.middle {border-radius: 50%; border: 40px solid #444444; margin: 0 500px;}
.right {border-radius: 50%; border: 40px solid #444444; float: right;}
.down {background-color: #737373; height: 1000px; width: 100%;}
#y {margin: 150px 100px;}
body {}
header {background-color: #737373;}
footer {}
